
@{
    ViewData["Title"] = ".NET CORE模板导航";
    Layout = "~/Views/Share/_Layout.cshtml";
}
@*为帮助更多开发者高速上手.NET CORE，我们决定开启.NET CORE模板开源项目，机遇屋欢迎感兴趣的人一起造轮子。微信公众号：机遇屋JIYUWU，我们的官网：www.jiyuwu.com*@
    <div style="margin:auto;text-align:center;">
        <h4>一、那些著名的富文本编辑器（WebEditor）</h4>
        1.<a href="../Editor/MarkDown" target="_blank">MarkDown</a>|2.<a href="../Editor/Kindeditor" target="_blank">Kindeditor</a>
        <h4>二、验证码</h4>
        <a href="../Verify/Index" target="_blank">图形验证码</a>
    </div>

