
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    <link href="~/Lib/xadmin/css/style.css" rel="stylesheet" />
    <script src="~/JS/jquery-2.1.4.min.js"></script>
    <script src="~/Lib/xadmin/js/vector.js"></script>
    <script src="~/Lib/xadmin/js/Cookie.js"></script>
    <script type="text/javascript">
        $(function () {
            Victor("container", "output");   //登陆背景函数
            if ($("#entry_name").val() == "") {
                $("#entry_name").focus();
            }
            else if ($("#entry_password").val() == "") {
                $("#entry_password").focus();
            }
            else {
                $("#login_code").focus();
            }
            getMyCode();
        });
        function login() {
            var UserName = $("#entry_name").val();
            var Password = $("#entry_password").val();
            var Code = $("#login_code").val();
            var UUID = $("#code").val();
            $.ajax({
                type: "post",
                dataType: "json",
                cache: false,
                data: {
                    UserName: UserName,
                    Code: Code,
                    UUID: UUID,
                    Password: Password
                },
                url: "../Home/ToLogin",
                async: true,
                success: function (data) {
                    if (data.code == 1) {
                        setHoursCookie("username", data.data.user.Account, 2);
                        setHoursCookie("token", data.msg, 2);
                        window.location.href = "../Home/Index";//?token="+getCookie("token");
                    }
                    else {
                        $("#login_code").val("");
                        alert(data.msg);
                        getMyCode();
                    }
                }
            });
        }

        function refresh() {
            getMyCode();
        }

        function getMyCode() {
            var username = getCookie("username");
            if (username != null) {
                window.location.href = "../Home/Index";//?token="+getCookie("token");
            }
            $.ajax({  //ajax post方式调用webapi
                type: "get",
                contentType: 'application/json',
                url: '/Home/MixVerifyCode?' + Math.random(),
                dataType: 'json',
                //data: JSON.stringify({
                //    Msg: uuid
                //}),
                //data: { Msg: uuid },
                async: false,
                success: function (data) {
                    $("#nubImg").attr("src", "data:image/png;base64," + data.msg);
                    $("#code").val(data.code);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
</head>
<body>
    <div id="container">
        <div id="output">
            <div class="containerT">
                <h1>用户登录</h1>
                <form class="form" id="entry_form">
                    <input type="text" placeholder="用户名" id="entry_name" />
                    <input type="password" placeholder="密码" id="entry_password" />
                    <img id="nubImg" title="数字验证码"
                         alt="vcode" style="cursor:pointer;" onclick="refresh()" />
                    <a id="kanbuq" href="javascript:void(0);" onclick="refresh()">看不清，换一张</a>
                    <input class="input" id="login_code" type="text" aria-label="验证码" placeholder="验证码" value="" onkeydown="if (event.keyCode == 13) login();">
                    <input type="hidden" id="code" />
                    <input type="button" id="loginBTN" value="登录" onclick="login()" />
                    <div id="prompt" class="prompt"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>